<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :batsman_id %><br>
    <%= f.number_field :batsman_id %>
  </div>
  <div class="field">
    <%= f.label :bowler_id %><br>
    <%= f.number_field :bowler_id %>
  </div>
  <div class="field">
    <%= f.label :run %><br>
    <%= f.number_field :run %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :important %><br>
    <%= f.text_field :important %>
  </div>
  <div class="field">
    <%= f.label :over %><br>
    <%= f.text_field :over %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.number_field :match_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
